body{
    font-family: Arial, sans-serif;
    background-color: #bdd1ea;
    margin: 0;
    padding: 0;
text-align: center;
}
h1{
    color: #3d2f49;
}

table{
    border: 5px solid #374455;
        border-radius: 3px;
}