body {
    font-family: Arial, sans-serif;
    background-color: #d7819b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    color: #4b3060;
}

h2{
    color: #53356c;
}

.container {
    perspective: 1000px;
}

.table-3d {
    width: 60%;
    border-collapse: collapse;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.table-3d th,
.table-3d td {
    border: 2px solid #762b66;
    padding: 10px;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-3d th {
    background-color: #da4ba5;
    color: white;
}

.table-3d tr:hover {
    transform: rotateY(10deg);
}
