form{
    background-color: #66396e;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10 px #000000 (0, 0, 0, 0.2);
    }
    label{
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        }
        input[type="text"], input[type="email"], textarea{
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 5px solid #CECECE;
            border-radius: 3px;
        }
        input[type="submit"]{
            background-color: #548183;
            color: #4B4894;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
        }
        input[type="submit"]:hover{
            background-color: rgb(75, 97, 156);
        }
    input[type="reset"]{
        background-color: #548183;
        color: #6c1d4e;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
    }
    input[type="reset"]:hover{
        background-color: rgb(137, 82, 116);
    }