body{
    font-family: Arial, sans-serif;
    background-color: #97aecb;
    margin: 0;
    padding: 0;
text-align: center;
}
h1{
    color: #9a75b8;
}
form{
background-color: #66396e;
max-width: 400px;
margin: 0 auto;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10 px #000000 (0, 0, 0, 0.2);
}
label{
display: block;
margin-bottom: 5px;
font-weight: bold;
}
input[type="text"], input[type="email"], textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #CECECE;
    border-radius: 3px;
}
input[type="submit"]{
    background-color: #548183;
    color: #4B4894;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(75, 97, 156);
}