body {
    font-family: Arial, sans-serif;
    background-color: #bf99b4;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #c8b0b0;
    padding: 10px 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: rgb(163, 134, 134);
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}
