body
{
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #c5d2d7;
        font-family: 'Arial', sans-serif;
        font-size: ;
}
.block1
{
    background-color: rgb(156, 207, 231);
    float: left;
    height: 350px;
    width: 90%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.header
{
    background-color: rgb(57, 96, 93);
    float: left;
    height: px;
    width: 30%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.image
{
    background-color: rgb(171, 171, 210);
    height: px;
    float: right;
    width: 22%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.block2
{
    background-color: rgb(139, 189, 223);
    float: left;
    height: 350px;
    width: 90%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.date
{
    background-color: rgb(235, 195, 244);
    float: left;
    height: px;
    width: 30%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.article1
{
    background-color: rgb(154, 192, 206);
    float: right;
    height: px;
    width: 50%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.block3
{
    background-color: rgb(201, 217, 245);
    float: left;
    height: 450px;
    width: 90%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.article2
{
    background-color: rgb(110, 146, 155);
    float: right;
    height: px;
    width: 50%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.date2
{
    background-color: rgb(99, 99, 131);
    float: left;
    height: px;
    width: 30%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.block4
{
    background-color: rgb(241, 204, 231);
    float: left;
    height: 350px;
    width: 90%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.article3
{
    background-color: rgb(205, 174, 210);
    float: right;
    height: px;
    width: 50%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.langues
{
    background-color: rgb(168, 187, 227);
    float: left;
    height: px;
    width: 30%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.Footer
{
    background-color: rgb(244, 233, 241);
    float: left;
    height: 200px;
    width: 90%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.article4
{
    background-color: rgb(120, 131, 154);
    float: right;
    height: px;
    width: 50%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.intérêt
{
    background-color: rgb(184, 228, 240);
    float: left;
    height: px;
    width: 30%;
    margin: 10px;
    border: 5px solid #3388CC; 
    border-radius: 10px;
    padding: 20px;
}
.container
{
    font-size: ;
    color: #712a5a;
    margin-bottom: 15px;
    margin: auto;
    border: 5px solid #52677b; 
    border-radius: 10px;
}





































































